./venv
./HOMEWORK-1/__pycache__
./HOMEWORK-1/.ipynb_checkpoints
./HOMEWORK-1/homework1.py
./HOMEWORK-2/__pycache__
./HOMEWORK-2/.ipynb_checkpoints
./HOMEWORK-2/homework2.py
./HOMEWORK-3/__pycache__
./HOMEWORK-3/.ipynb_checkpoints
./HOMEWORK-3/homework3.py
./HOMEWORK-3/*.csv
